# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Charles K\Desktop\IPSA\Cours_TD\aero3_moi\Performances de vol - performances, équilibrage statique\dm\code_dm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
